/*+++++++++++ medium laptop ++++++++++*/
@media (min-width: 768px) and (max-width: 1024px) {
    #wrapper{
        width: 85vw;
    }

    #portfolio #wrapper .grid-two-column{
        grid-template-columns: 1fr;
    } 

    #footer .container{
        width: 85vw;
    }
}
/*+++++++++++ Mobile ++++++++++*/   
@media (min-width:320px) and (max-width:425px){
    section{
       margin: 0; 
    }
    #wrapper{
        width: 95vw;
        
    }
    .intro h1 {
        
        line-height: 5rem;
        text-align: left;
    }
    h2{
        text-align: center;
    }

    #header #wrapper {
        position:relative;
        justify-content: space-between;
    }
    .mobile-navbar-btn{
        display: block;
        z-index: 999;
    }
    .navbar{
        z-index: 999;
        width: 100%;
        height: 40vh;
        position: absolute;
        padding: 0 1em;
        top: 0;
        left:0;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
       
        /* transform: translateY(-100%); */
        transition:all 0.3s linear;
        
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .navbar .navbar-links{
        gap: 1.2em;
        font-size: 1.8em;
        color: #777;
    }
    
    /** when active class activated then navbar show */
    .active .navbar{
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"]{
        display: block;
    }
    .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"]{
        display: none;
    }



    #hero #wrapper{
        grid-template-columns: 1fr;
        position: relative;
        overflow: hidden;
    }
    .intro-img{
        position: absolute;
        top: -10%;
        right: -20%;
    }
    .intro-img img{
        transform: rotate(45deg);
    }
    /*+++++++++++ about section start ++++++++++*/
    #about > #wrapper{
        grid-template-columns: 1fr;
    }
    .about p{
        font-size: 1.2em;
    }
    .skills{
        gap: 3em;
    }
    /*+++++++++++ education-and-experience ++++++++++*/
    
    #experience-and-education 
    .grid-two-column-two-row{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 6fr 1fr 6fr;
    }
    .experience-title,.experience-data{
        order: 1;
    }
    .education-title,.education-data{
        order: 2;
    }
    .experience-title h3,.education-title h3{
       text-align: center;
    }
    
    .timeline ul::before{
        transform: translateX(50%);
        left: 50%;
    }
    .timeline ul{
       left: 0;
    }
    .timeline ul li{
        width: 100%;
        border-radius: 0;
        margin: 5em 0;
    }
    .timeline ul li::after{
        top: -15%;
        left: 48.8%;
    }

    .grid-four-column{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .counter-numbers{
        font-size: 1.5em;
    }
    
    #portfolio #wrapper .grid-two-column{
        grid-template-columns: 1fr;
    }
    
    .overlay h3{
    font-size: 1.8em;
    }
    .overlay .details{
    gap: 1em;
    }
    .overlay .details i{
        font-size: 1.5em;
    }
    .link{
    font-size: 1.5em;
    }

    #contact .box1 img{
        max-width: 90%;
        max-height: 90%;
       
    }

    #footer{
        align-items: center;
    }
    #footer .container{
        width: 95vw;
    }
    #footer .container .row{
        direction: rtl;
}
     #footer .container .row p{
     font-size: 1em;
    }
    .credits{
    text-align: right;
    }

    .scroll_to_top_style{
        right:0%;
        bottom: 8rem;
        
    }
}