
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all 0.2s linear;

}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    width: 0.5rem;
}
html::-webkit-scrollbar-track {
    background: rgb(235, 202, 245);
}
html::-webkit-scrollbar-thumb {
    background: #cfcfcf;
}
body{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    
}
section{
    padding: 1rem 0;
    width: 100vw;
 }
 
a,a:hover, a:active {
    color: inherit;
    text-decoration: none;
    outline: 0; }
  
ul {
    list-style: none; 
    padding: 0;
    margin: 0;
}

#wrapper{
    padding: 1rem 1rem;
    border-radius: 0.8rem;
    max-width: 95vw;
    margin: 0 auto;
} 
:root{
    --main_dark_theme:##141414;

    --para_color:#777;

 }
h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
    color: black;
}
h1 {
    font-size: 6rem;
    font-weight: 600;
    
  }
  h2{
    
    font-weight: 300;
        line-height: 4rem;
        font-size: 3.5rem;
  }

h3{
    font-size: 2.5rem;
    font-weight: 200;
    
}
h4{
    font-size: 2rem;
    font-weight: 200;
  }
  
p{
    color: var(--para_color);
    line-height: 1.6;
    font-size: 1.7rem;
    text-align: justify;
}

.grid{
        display: grid;
        gap: 1rem;
        justify-content: space-evenly;
    }
.grid-two-column{
        grid-template-columns: repeat(2,1fr);
}

.grid-four-column{
        grid-template-columns: repeat(4,1fr);
        gap: 1rem;
}
.grid-two-column-two-row{

    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr
         
}
    
.common-padding{
     padding: 2rem;
}
hr{
    margin: 1rem 0;
    border: 0.02rem solid gray;
}
 
/* ?+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                        HEADER 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#header{
    width: 100vw;
    padding: 1rem 5rem;
    height: 8rem;
    background-color: white;
    
    display: flex;
    align-items: center;
    gap: 2.5rem;
    
}
#header .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #91a6ff 74%);

}

.navbar .navbar-links{
    display: flex;
    align-items: center;
    gap: 2.5rem;
    font-size: 1.5rem;
}
.navbar .navbar-links a:hover{
    color: #7B68EE;
}

/* ? bydefault icon not visible */
.mobile-navbar-btn{
    display: none;
    background-color: transparent;
    cursor: pointer;
    border:none;
    position: relative;
    
    
}
.mobile-nav-icon{
    width: 4em;
    height: 4em;
    color: black;
}
.mobile-nav-icon[name="close-outline"]{
    display: none;
    border-radius: 50%;
    background-color: #565fe0;
}

/* ?sticky navbar using js*/
  /* .sticky-navbar {
    position: fixed;
    z-index: 1;
    background: transparent;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
} */

/* ?+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                        HERO SECTION 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.section-hero #wrapper{
    height: 80vh;
    background-color: #141414;
    
}
.intro,.intro-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro h1{
    font-weight: 500;
    line-height: 6rem;
    font-size: 4.5rem;
    color: #e4e4e4;
    text-align:left;
}
.intro span{
    color: #97f57a;
}
.intro-img{
    position: relative;
    overflow: hidden;
}

.intro-img img{
   
    position: absolute;
    width: 50%;
    top: 10%;
    
}
/* ?+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    About/Bio data section START 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.section-biodata #wrapper{
    background-color: #b8c6db;
background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    
}

.section-biodata .grid-two-column{grid-template-columns: 3fr 2fr;}
.about{
    background-color: #b8c6db;
background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
border-radius: 0 0.8rem 0.8rem 0;
}
.about p{
font-size: 1.6rem;
text-align: justify;
}


.bio-data-stats{
display: flex;
flex-direction: column-reverse;

gap: 1rem;
}
.skills h3{
    font-size: 1.6rem;
    margin: 1.2rem 0;
    }
.bio-progress-bar{
width: 100%;
height: 0.2rem;
border-radius: 10rem;
position: relative;
}
.bio-progress-bar::before{
content: "";
position: absolute;
top: 0;
left: 0;
width: 85%;
height:inherit; 
background: #E91E63;
border-radius: 10rem;


}
.bio-progress-bar::after{
content: "";
position: absolute;
top: -0.7rem;

padding: 0.5rem;
border: 0.2rem solid #E91E63;
border-radius: 50%;
background-color: transparent;
}
.bio-progress-2::before{
width: 70%;
}
.bio-progress-3::before{
width: 65%;
}
.bio-progress-4::before{
width: 70%;
}
.bio-progress-5::before{
width: 60%;
}
.bio-progress-bar>span{
position: absolute;
display: flex;
align-items: center;
justify-content: center;
top: 1rem;
/* left: 5rem; */
width: 1rem;
height: 1rem;
background: transparent;
color: var(--black);
}

.bio-progress-bar>span,.bio-progress-bar::after{
left: 85%;
}
.bio-progress-2>span,.bio-progress-2::after{
left:70%;
}
.bio-progress-3>span,.bio-progress-3::after{
left: 65%;
}
.bio-progress-4>span,.bio-progress-4::after{
left: 70%;
}
.bio-progress-5>span,.bio-progress-5::after{
left: 60%;
}

.resumebtn {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .resumebtn .btn {
    padding: 1rem 1.5rem;
    border: 0.08rem solid black;
    transition: 0.3s;
    color: #000000;
   
  }
  .resumebtn .btn span {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }
  .resumebtn .btn i {
    margin-left: 0.3rem;
    font-size: 1.2rem;
    transition: 0.3s;
  }
  
  .resumebtn .btn:hover i {
    transform: translateX(5px);
  }
/* ?+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    EXPERIENCE - EDUCATION
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.section-experience-and-education #wrapper{
    background-color: #b8c6db;
background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    height: auto;
    
}
.section-experience-and-education .grid{
   background-color: #141414;
    border-radius: 0.8rem;
    padding: 2rem 0;
    
    
    
}
.section-experience-and-education .grid-two-column-two-row{
    
    grid-template-rows: 1fr 5fr;
}
.experience-title h3,.education-title h3{
    color: #E91E63;
    
}
.experience-data,.education-data{
    position: sticky;
    overflow: auto;
    
}



.education-data::-webkit-scrollbar,.job::-webkit-scrollbar ,.experience-data::-webkit-scrollbar,.job::-webkit-scrollbar{
    width: 0.2rem;
    
    }
              
.timeline ul::before{
    content: '';
    position: absolute;
    height: 85%;
    width: 0.012rem;
    background-color: #646464;
    left: -4rem;
}
.timeline ul{
    position: absolute;
    left:11.1rem;
    
    
}
.timeline ul li{
    padding: 1rem;
    width: 90%;
    position: relative;
    background-color: #2c2c2c;
    color: white;
    margin:4rem 0;
    border-radius: 0 1rem 1rem 1rem;
}
.timeline ul li::after{
    content: '';
    position:absolute;
    height: 10px;
    width: 10px;
    background-color: #bde5ff;
    border-radius: 50%;
    top: 0;
    left: -4.5rem;
}
.timeline ul li:hover:after{
    background-color: #1856ff;

}
.timeline-content .date{
    position: absolute;
    color: #d3d3d3;
    font-size: 1.3rem;
    font-weight: 100;
    top:-2rem;
    left: -2;
}
.timeline-content h3{
    color: #ffffff;
}

.timeline-content p{
    text-align: left;
    font-size: 1.5rem;
    line-height: 3rem;
    color: rgb(151, 151, 151);
}
.timeline-content p span{
    
    text-align: center;
    color: #91a6ff;
}
/* ?+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
             PORTFOLIO SECTION START 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.section-portfolio #wrapper{
    background-color: #ffffff;
background-image: linear-gradient(300deg, #ffffff 0%, #5899e2 74%);

   
}
.hedading-and-filter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.parent-container-btns{
    display: flex;
    gap: 2rem;
    align-items: center;
    
    
}
.parent-container-btns .p-btn{
    background-color:#d1e3ff;
    color:#000000;
    height: 5rem;
    width: 5rem;
    padding: 1.5rem 1.5rem;
    
    border-radius: 50%;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.3rem;
    
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.portfolio-images .img-overlay{
    width: 100%; /* Adjust the width of the container as needed */
    height: auto; /* The height will adjust automatically based on the image aspect ratio */
    text-align: center;
    margin-top: 3rem;
}
.portfolio-images .img-overlay img{
    max-width: 100%; /* Ensures the image doesn't exceed the width of the container */
    max-height: 100%; /* Ensures the image doesn't exceed the height of the container */
    
    
    overflow: hidden;
    border-radius: 0.8rem;
    position: relative;
    transition:all 0.3s linear;
}

.img-overlay{
    position: relative;
    overflow: hidden;
}
.img-overlay > .overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    
    background: #ffffff;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 0.8rem 0.8rem;
    
    
}
.overlay .details{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.overlay .details i{
    font-size: 2rem;
    color: #40367c;
}
.link{
    font-size: 2.5rem;
    color: #000000;
}
.p-btn:active,
.p-btn:hover{
    transform: translateY(-1rem);
}
.portfolio-image-not-active{
    display: none;
}

/* ?+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
            ANIMATED WORK START 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.section-work-data #wrapper{
    background-color: #cdedfd;
background-image: linear-gradient(319deg, #cdedfd 0%, #ffec82 37%, #ffcfd2 100%);

    
}
.section-work-data #wrapper p{
    text-align: center;
    color: #141414;
}
.counter-numbers{
    color: #000000;
    font-size: 2rem;
    margin-bottom: 1rem;
}


/* ?+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
        CONTACT FORM - SOCIAL ICON - MAP SECTION
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#contact #wrapper{
    background-color: #ffffff;
background-image: linear-gradient(180deg, #ffffff 0%, #91a6ff 74%);
}

.section-contact .grid{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 0.2fr 1fr 0.5fr;
    grid-auto-flow: row;
}
.box1,.box2,.box3,.box4{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    
}
.box1{
    
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #f9fcff;
background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
}
.box2{
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #ffffff;
background-image: linear-gradient(-315deg, #ffffff 0%, #d7e1ec 74%);


}
 

.box3{
  
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: #ffffff;
background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);

}

.box3 .contact-form form{
    display: flex;
    flex-direction: column;
    
    gap: 1rem;
    
}
 .contact-form form input, .contact-form form textarea{
    padding: 1rem;
    font-size: 1.8rem;
    
    height: 5rem;
    width: 100%;
    background-color: transparent;
    outline: none;
    border-bottom: 0.1rem solid black;
}

 .contact-form form input::placeholder,.contact-form form textarea::placeholder{
    color: rgb(121, 121, 121);
    font-size: 1.5rem;
}

.contact-form form input[type="submit"]{
    border: 0.04rem solid black;
    width: 51%;
    text-align: center;
    margin-top: 2rem;
    font-size: 1.4rem;
}
 .contact-form form input[type="submit"]:hover{
 background-color: #000000;
 color: white;
 border-radius: 0 0 0 0.8rem;
}



.box2 .social-links ul{
display: flex;
align-items: center;
justify-content: space-evenly;
gap: 0.5rem;}
.social-links ul li i{
    
    font-size: 3rem;
    padding: 1rem;
   
}
.social-links ul li i:hover{
    color: #565fe0;
    font-size: 3rem;
    padding: 1rem;
   
}


/* ?+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                   FOOTER START
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
footer{
    background-color: #141414;
    min-height: 10rem;
    display: flex;
    align-items: center;
}
.left-footer-section,.right-footer-section{
    display: flex;
    align-items: center;
    
}
.left-footer-section p{
    margin: 0;
    padding: 0;
}
.right-footer-section{
    justify-content: flex-end;
}
.credits {
    color: #cfcfe1;
    font-size: 1.5rem;
    text-align: left;
}
.credits-name{
    color: #999999;
}


/* ?+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                        
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* !!------------scroll element style---------- */
.scroll_to_top_style{
    position: fixed;
    right:2rem;
    bottom: 10rem;
    z-index: 1;
    display: none;
    
}
.scroll_to_top_icon{
    
    background-color:transparent;
    display: inline-block;
    padding: 1rem;
    font-size: 2rem;
    border: 1px solid black;
    color: rgb(0, 0, 0);
    
}

/* ?+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                               START 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media (min-width: 300px) and (max-width: 576px) {
    
    
    .grid-two-column{
        grid-template-columns: 1fr;
    }
    #header{
        position:relative;
        justify-content: space-between;
    }
    .mobile-navbar-btn{
        display: block;
        z-index: 999;
    }
    .navbar{
        z-index: 999;
        width: 100%;
        height: 40vh;
        position: absolute;
        padding: 0 1em;
        top: 0;
        left:0;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
       
        transform: translateY(-100%);
        transition:all 0.3s linear;
        
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .navbar .navbar-links{
        
        gap: 1.2em;
        font-size: 1.8em;
        color: #777;
    }
    
    /** when active class activated then navbar show */
    .active .navbar{
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"]{
        display: block;
    }
    .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"]{
        display: none;
    }
    /* ?+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                         DEFAULT
    +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

    
    h2{
        text-align: center;
    }
    
    /* ?+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                        HERO
    +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    .section-hero #wrapper{
        height: 85vh;
        
    }
    .intro h1{
        font-weight: 400;
        line-height: 5rem;
        font-size: 4rem;
        color: #e4e4e4;
        text-align: center;
    }
      
/*+++++++++++ biodata / about section ++++++++++*/

    .section-biodata .grid-two-column{
        grid-template-columns: 1fr;
    }
    .about p{
        font-size: 1.2em;
        
        }
    .resumebtn {
        align-items: center;
        justify-content: center;
        gap: 2em;
      }
/*+++++++++++ education-and-experience ++++++++++*/
    
    .section-experience-and-education .grid-two-column-two-row{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr 1fr 5fr;
    }
    .experience-title,.experience-data{
        order: 1;
    }
    .education-title,.education-data{
        order: 2;
    }
    .experience-title h3,.education-title h3{
       text-align: center;
        
    }
    .timeline ul::before{
        left: 2em;
    }
    .timeline ul{
       left: 2em;
    }
    .timeline ul li{
        width: 95%;
    }
/*+++++++++++ portfolio ++++++++++*/
   
    .hedading-and-filter{
        margin-bottom: 2em;
    }
    .portfolio-images .img-overlay{
        margin-top: 0.5em;
    }
    .overlay h3{
        font-size: 1.8em;
    }
    .overlay .details{
        gap: 1em;
    }
    .overlay .details i{
        font-size: 1.5em;
        
    }
    .link{
        font-size: 2em;
        
    }
/*+++++++++++ animated work data ++++++++++*/

.grid-four-column{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
}
.counter-numbers{
    font-size: 1.5em;
}
/*+++++++++++ contact ++++++++++*/
    .section-contact .grid {
        
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr 0.2fr;
        
      }
      .box1 {
        grid-row-start: 1;
        grid-row-end: 2;
      }
      .box3 {
        grid-row-start: 2;
        grid-row-end: 3;
      }
      .box2 {
        grid-row-start: 3;
        grid-row-end: 4;
      }

/*+++++++++++ scroll-to-top ++++++++++*/

.scroll_to_top_style{
    left: 1em;
    
}
.scroll_to_top_icon{
    font-size: 1.5em;
    border-radius: 50%;
   
}

/*+++++++++++ footer ++++++++++*/

#footer .container .row{
        direction: rtl;
}
  #footer .container .row p{
    font-size: 1em;
  }
  .credits{
    text-align: right;
  }
  

}
 