/* space mon google font */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{


  --main-white:#F7F7F7;
  --main-black:#141414;

  --white0:#f1f1f1;
  --white1:#E8E8E8;
  --white2:#d1d1d1;
  --white3:#f1edf5;

  --hl-g:#13c430;
  --hl-b:#0066ff;

  --p-font:1.8rem;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 1rem =10px */
  font-size: 62.5%; 
  scroll-behavior: smooth;
}
body{
  background-color: var(--main-white);
  width: 100%;
  overflow-x: hidden;
  font-family: "Space Mono", monospace;
  font-style: normal;
  position: relative;
}
a,
a:hover,
a:active {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  outline: 0;
}
ul {
  list-style:none;
  padding: 0;
  margin: 0;
}
li{
  font-size: 1.5rem;
}
h1, h2, h3, h4 {
  color: var(--main-black);
  line-height: 1.2; 
  text-align: left;
  font-weight: normal;
  display: inline-block;
  margin: 2rem 0; 
}


h1 {
  font-size: 3.8rem; 
}
h2 {
font-size: 3.5rem;
}
h3 {
  font-size: 2rem; 
}
h4 {
  font-size: 1.5em; 
}
p {
  overflow-wrap: break-word;
  text-align:left;
  font-size: var(--p-font);
  color: var(--main-black);
  line-height: 1.5;
}

/* Button styles */
button {
    font-family: "Space Mono", monospace;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.2;
    color:var(--font-black);
    background:transparent;
    border: 1px solid var(--font-black);
    padding: 1rem 2rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease, transform 0.3s ease  ;
    -webkit-transition: background-color 0.3s ease, transform 0.3s ease;
    -moz-transition: background-color 0.3s ease, transform 0.3s ease;
    -ms-transition: background-color 0.3s ease, transform 0.3s ease;
    -o-transition: background-color 0.3s ease, transform 0.3s ease;
}
button:hover {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  background-color:var(--white-4);
}

button:focus {
  outline: none; 
}

/*-----------button----------*/
.btn {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: 0.3s;
  border: 0.5px solid #979696;
}

.btn span {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}
.btn i,
.btn img {
  margin-left: 0.3rem;
  font-size: 1.2rem;
  transition: 0.3s;
}
.btn:hover i,
.btn:hover img {
  transform: translateX(0.5rem);
}




.highlight_blue,.highlight_green,.highlight_gray{
  padding: 0.2rem 1rem;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.highlight_blue{
  border: 1px solid var(--hl-b);
}
.highlight_green{
  border: 1px solid var(--hl-g);
}
.highlight_gray{
  border: 1px solid gray;
}
.highlight_blue:hover{
  border: 1px solid var(--hl-g);
}

  #header {
  width: 100%;
  height: 10rem;
  padding: 2rem 20rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky; 
  top: 0;
  z-index: 100; 
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  font-size: 1.5rem;
}
#header nav ol {
  display: flex;
  justify-content:flex-end;
  align-items: center; 
  gap: 2rem;
}
#header nav ol li {
  margin-left: 3rem;
}
#header nav a:hover ,#header .link:hover{
  text-transform: uppercase;
  color: var(--hl-g);
}

.hamburger {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 1px;
  background-color: #000000;
  margin: 2px 0;
  transition: 0.4s;
}
.hamburger span:nth-child(2){
  width: 20px;
}
@media screen and (max-width: 768px) {
  #header {
    padding: 2rem 4rem;
  }

  #header nav ol {
    display: none;
    flex-direction: column;
    align-items: flex-start;
  
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    /* padding: 5rem; */
    padding: 2rem 4rem;
  }

  #header nav ol.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}
main{
  padding: 0rem 20rem;
}
section {
  padding-top: 10rem;
  width: 100%;
  height: auto;
}
[class~="cpd"]{
  padding: 5rem;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
}
#hero div{
  background-color: var(--white1);
}
#about{
  display: flex;
  gap: 1rem;
  align-items:flex-start;
}
#about .profile{
  flex: 0.6;
  background-color: var(--white3);
}
#about .coding_profile{
  flex: 0.4;
  background-color: var(--main-black);
}
#about .coding_profile *{
  color: var(--main-white);
}
#about .coding_profile ul{
  padding: 4rem 0;
  display: flex;
 gap: 1rem;
}

.vertical-text {
  writing-mode: vertical-rl; /* vertical writing mode, right to left */
  transform: rotate(180deg); 
  text-align: center; 
}

#skills .skills_main_container{
  display: flex;
  gap: 1rem;
  background-color: var(--white0);
}
.grid-container {
  display: flex;
 justify-content: flex-end;
flex-wrap: wrap;
  gap: 1rem;
}

.grid-item {
  background-color:var(--white1);
  padding: 1rem;
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}
.grid-item  h3{
  color:var(--hl-g);
}
.grid-item ul{
  padding-left: 3rem;
}
.grid-item ul li::marker{
 content: '+ ';
 color: var(--hl-g);

}


/*-----------experience and education----------*/
#career > div{
  background-color: #eff1f3;
  margin-bottom: 1rem;
}
#career ul{
  position: relative;margin-left: 0.5rem;
}
#career ul::before{
    content: "";
    position: absolute;
    height: 105%;
    width: 0;
    left: 0rem;
    border-left: 1px solid var(--main-black);
}
#career ul li {
  position: relative;
}
/* dot */
#career ul li::after {
  content: "";
  position: absolute;
  height: 8px;
  width: 8px;
  background-color: #000000;
  border-radius: 50%;
  border: 0.01rem solid #000000;
  top: 0;
  left: -0.4rem;
}
.timeline_content{
  position: relative;
  margin-left: 30px;
  margin-bottom: 30px;
}

.timeline_content .company_name{
  color: #004e98;
  margin-left: 1rem;
  font-weight: bold;
}
.timeline_content .job_duration{
  position: absolute;
  top: 0;
  font-size: 1.2rem;
}
.timeline_content .job_description{
  font-size: 1.5rem;
}
/*-----------portfolio----------*/

#projects .project_container{
padding: 5rem;
background-color: #e8e2f3;

}

.html {
  border: 1px solid green;
}
.css {
  border: 1px solid rgb(211, 128, 20);
}
.bootstrap {
  border: 1px solid rgb(8, 47, 105);
}
.javascript {
  border: 1px solid rgb(211, 214, 15);
}
.php {
  border: 1px solid rgb(84, 173, 231);
}
.jquery {
  border: 1px solid red;
}


.project_item {
 width: auto;
display: flex;
  background-color: rgb(0, 0, 0);
  border-radius: 8px;
 
  margin: 20px 0;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.project_visual{
  width: 60%;
  height: 60vh;
  overflow: hidden;
  position: relative;
  border-radius: 0.4rem 0 0 0.4rem;
  -webkit-border-radius: 0.4rem 0 0 0.4rem;
  -moz-border-radius: 0.4rem 0 0 0.4rem;
  -ms-border-radius: 0.4rem 0 0 0.4rem;
  -o-border-radius: 0.4rem 0 0 0.4rem;
}
/* .project_item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
} */

.project_visual img {
 opacity: 0.5;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
 .project_item:hover img{
  opacity: 0.8;
}
.project_text {
  width: 40%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    gap: 1.5rem;
    background-color: #061738;
    border-radius: 0.4rem;
    padding: 1.5rem;
}
.project_text *{
  color: whitesmoke;

}


.project_links {
  display: flex;
 
  gap: 10px;
  margin-bottom: 15px;
}
.project_links button{
  background-color: #0066ff;
}



.project_links .github {
  background-color: #24292e;
}

.project_links .view {
  background-color: #28a745;
}

.project_links span:hover {
  background-color: #0056b3;
}

.project_links .github:hover {
  background-color: #1b1f23;
}

.project_links .view:hover {
  background-color: #218838;
}

.project_text p {
  color: #666;
  font-size: 14px;
}

/*-----------work section----------*/
#work-data {
 
  min-height: auto;
  padding: 5rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#work-data div:nth-child(2) {
  border-left: 1px dashed var(--font-black);
  border-right: 1px dashed var(--font-black);
}
#work-data p {
  text-align: center;
}
#work-data .counter-numbers {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: rgb(8, 19, 66);
}


/* contact */
#contact .cp{
  
  display: flex;
  gap: 3rem;
  
}


.contact__form{
 flex: auto;
    padding: 1rem 0 0 1rem;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-radius: 0.8rem 0 0 0;
}
.contact__form form {
   
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: left;
  justify-content: space-evenly;
}

.contact__form form input[type="text"],
.contact__form form input[type="email"],
.contact__form form textarea {
  outline: none;
    border: none;
  background: transparent;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid var(--font-black);
 
}

.contact__form form textarea {
  resize: none;
}

.contact__form form input[type="submit"] {
 
  border: none;
  padding: 1.5rem 2rem;
    transition: background-color 0.5s ease;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 25px;
    text-align: center;
    background-color: transparent;
    color:rgb(0, 0, 0);
}

.contact__form form input[type="submit"]:hover {
  
  background-color: #9381ff;
  color: #000;
}

/* footer */
footer {
  width: 100%;
  padding: 2rem 20rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px solid var(--hl-g);
}

footer .left__footer__section .credits{
  font-size: 1.3rem;
}
footer .right__footer__section .links ul {
  display: flex;
  align-items: center;
}
footer .right__footer__section .links ul li i {
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
}
footer .right__footer__section .links ul li i:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  html {
    /* 1rem = 5px */
    font-size: 31.25%;
  }
  main{
    padding: 0rem 5rem;
  }
  section {
    padding-top: 5rem;
    width: 100%;
    height: auto;
  }
  [class~="cpd"]{
    padding: 3rem;
    border-radius: 0.8rem;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
  }
  /* Styles for phones */
  footer {
    padding: 2rem;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 5rem;

  }
  footer .credits{
    width: 80%;
  }
  
}
